body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	background: rgb(192, 186, 186);
	border-radius: 5px;
}

#error-section .inner {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 97vh;
	/* padding-left:10%; */
	padding: 0 5%;
}

.bg-nf{
	background: #F8FAFC;
}

@media (max-width:991.9px) {
	#error-section .inner {
		flex-direction: column !important;
		height: unset;
		/* padding: 17% 5%; */
	}

	#error-section .inner-left,
	#error-section .inner-right {
		width: 75% !important;
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}

	#error-section .inner-left{
		display: flex;
		flex-direction: column;
		align-items: center;
		/* margin-top: 20px; */
	}
}

#error-section .inner-left,
#error-section .inner-right {
	width: 50%;
}

#error-section .inner-right img {
	width: 100%;
	object-fit: contain;
}

#error-section h1 {
	font-size: 190px;
	margin: 0;
	text-shadow: 3px 2px 8px #8080808a;
}

@media (max-width:991.9px) {
	#error-section h1 {
		font-size: 155px !important;
	}

	#error-section p ,
	#error-section a{
		font-size: 30px !important;
	}
}

#error-section .four {
	color: var(--main);
}

#error-section .five {
	color: var(--orange);
}

#error-section p {
	color: gray;
	font-size: 20px;
	margin-bottom: 20px;
}

#error-section a {
	width:fit-content;
	display: block;
}

#error-section a i {
	margin-right: 10px;
}
