@media (max-width: 1600px) {
	/* .container {
        max-width: 1140px;
    } */

	.container-sm {
		padding: 0 10rem;
	}

	.wallp-section h1 {
		font-size: 45px;
	}

	.top-side-header a,
	.top-side-header p {
		font-size: 16px;
	}

	.footer-logo-line .left-img,
	.footer-logo-line .right-img {
		width: 36%;
	}

	.section-title h2 {
		font-size: 30px;
	}

	.form-group textarea,
	.form-group input {
		padding: 7px 40px 7px 10px;
	}

	.form-group img {
		height: 18px;
		width: 18px;
		right: 10px;
		top: 8px;
	}

	.card-bg-map {
		height: 150px;
	}

	.bg-map p {
		display: none;
	}
}

@media (min-width: 1600px) {
	.card-bg-map{
		height: unset;
	}
}

@media (max-width:1280px) {
	.fake-card-line .product-card {
		width: calc(100% / 4);
	}

	section.bg-map .col-lg-3 p {
		display: none;
	}
}

@media (max-width:1200px) {
	.container-sm {
		max-width: 100%;
		padding: 0 15px;
	}

	.footer-logo-line .left-img,
	.footer-logo-line .right-img {
		width: 55%;
	}

	.center-side-header button {
		min-width: unset;
		width: fit-content;
	}

	button {
		font-size: 16px;
	}

	.bottom-side-header li {
		margin-right: 20px;
	}

	.bottom-side-header a {
		font-size: 16px;
	}

	.main-ul {
		display: none !important;
	}
}

@media (min-width:1200px) {
	.top-line .top-line-menu {
		display: none;
	}

	.top-line .menu-button-top-line {
		display: none;
	}
}

@media (max-width:991.9px) {
	.bottom-side-header .def-btn {
		display: none !important;
	}

	.top-side-header a,
	.top-side-header p {
		font-size: 14px;
	}
}

@media (min-width: 991.9px) {
	.featured-boxes .card {
		min-height: 378px;
	}

	.featured-boxes .card-footer {
		min-height: 110px;
	}
}

@media (max-width:768.9px) {
	.brand-inner-page .container-shadow{
		flex-direction:column;
	}

	.brand-inner-img{
		margin-right: 0 !important;
	}

	.featured-icons h6+p {
		margin-top: 30px;
	}

	.top-side-header{
		z-index: 1;
	}

	.product-card {
		min-height: 226px;
	}

	.mini-card-carousel .container-sm {
		margin-top: 25px;
	}

	.product-card-body{
		padding: 10px 15px;
	}

	.col-sm-none {
		display: none !important;
	}

	.popUpStyle .pop-up-middle-wrapper {
		width: 100vw;
		border-radius: unset;
	}

	.popUpStyle .pop-up-small-wrapper {
		width: 100vw;
		border-radius: unset;
	}

	.popUpStyle .pop-up-wrapper {
		width: 100vw !important;
		height: 99%;
		overflow-x: auto;
		border-radius: unset;
	}

	.popUpStyle {
		padding: 0;
	}

	.popUpStyle .pop-up-wrapper .pop-header h4 {
		font-size: 20px;
	}

	.flex-sm-justiy-end {
		justify-content: flex-end;
	}

	.container-shadow {
		padding: 15px;
	}

	.d-v {
		display: none;
	}

	.wallp-second h1,
	.center-side-header button,
	.center-side-header .header-second-logo,
	/* .top-side-header, */
	.bottom-side-header,
	/* .featured-icons, */
	.center-side-header .logo-customer,
	/* .center-side-header::before, */
	/* .mini-card-carousel, */
	.bg-map,
	.breadcrumb ,
	.lang-c,
	.top-side-header .col-md-3{
		display: none !important;
	}

	.featured-boxes .section-title {
		display: none !important;
	}

	.mini-card-carousel .section-title h2 {
		font-size: 20px;
		margin: 10px 0 0 0;
	}

	section .inner-section {
		border-top: unset;
	}

	.wallp-section {
		height: calc(100vh - 53px);
	}

	.wallp-section .overlay-texts::before {
		width: 100vw !important;
	}

	.overlay-texts .left-side h1 {
		text-align: right;
	}

	.overlay-texts .right-side h1 {
		text-align: left;
	}

	.center-side-header {
		/* background-image: none !important; */
		/* background-color: var(--dark); */
		padding: 0;
	}

	.featured-boxes button {
		width: 85%;
	}

	.title-main,
	.featured-boxes .card-body p {
		font-size: 20px;
	}

	.product-card h4 {
		margin-bottom: 6px;
		font-size: 16px;
	}

	.tag-items h4,
	.featured-boxes .card-footer p {
		font-size: 16px;
	}

	.product-detail .content-sec p,
	.product-card p {
		font-size: 14px;
	}

	.top-side-footer {
		padding: 25px 0;
	}

	.top-side-footer h4 {
		display: none;
	}

	.top-side-footer .col-sm-12 {
		display: flex;
		justify-content: center;
	}

	.bottom-side-footer p {
		font-size: 12px !important;
	}

	.bottom-side-footer .col-5,
	.bottom-side-footer .col-7{
		padding:0 !important;
	}

	.footer-logo-line {
		padding: 0;
	}

	.lex-sm-justiy-end {
		justify-content: flex-end !important;
	}

	.card-carousel,
	.featured-icons {
		padding: 3rem 0;
	}

	.card-carousel {
		border-bottom: unset;
	}

	.card-carousel .owl-nav {
		top: -23%;
		left: unset;
		transform: translateX(0);
		right: 0;
		width: unset;
	}

	.card-carousel .owl-theme .owl-nav button {
		margin: 0 0 0 10px !important;
		background-color: var(--main);
		border-radius: 1px;
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.card-carousel .owl-theme .owl-nav button:hover {
		background-color: var(--main) !important;
	}

	.card-carousel .owl-nav button img {
		height: 17px;
		width: 17px;
	}

	.featured-icons h6 span,
	.featured-icons h6 p {
		font-size: 22px;
	}

	.featured-icons p {
		font-size: 18px;
	}

	/* .featured-icons .card{
		margin-bottom: 20px;
	} */

	.featured-icons .card img {
		height: 70px;
		width: 100%
	}

	.product-card-top {
		height: 155px;
	}

	.card-line {
		flex-direction: column;
	}

	.card-line .left-side,
	.card-line .right-side {
		width: 100%;
	}

	.card-line .left-side {
		height: 190px;
	}

	.right-side .content {
		margin-bottom: 15px;
	}

	.card-line .right-side .content h4 {
		font-size: 20px;
		margin-bottom: 8px;
	}

	.tag-items span,
	.card-line .right-side .content p {
		font-size: 12px;
	}

	.card-line .content p {
		-webkit-line-clamp: 3;
	}

	.product-detail {
		margin: 0;
	}

	.product-detail .content-sec {
		width: 100%;
		padding: 0 0 15px 0;
		margin-top: 20px;
		border-bottom: 1px solid #ededed;
	}

	.product-detail .content-sec h3 {
		margin-bottom: 10px;
		font-size: 18px;
		color: #676767;
	}

	.product-detail .line {
		flex-direction: column;
	}

	.product-detail .line .left-side,
	.product-detail .line .right-side {
		width: 100%;
		padding: 0;
	}

	.product-detail .line .left-side .side-inner .top {
		flex-direction: column;
	}

	.product-detail .right-side .line {
		border: none;
		flex-direction: row !important;
		margin-bottom: 10px;
	}

	.product-detail .right-side .side-inner:first-child {
		border-bottom: 1px solid #ededed;
		margin-bottom: 0;

	}

	.product-detail .right-side .side-inner:last-child {
		display: flex;
		margin-bottom: 0;
		justify-content: space-around;
	}

	.product-detail .side-inner .line-sec {
		flex-direction: column;
	}

	.product-detail .image-sec {
		width: 100%;
	}

	.product-detail .carousel-product-detail {
		width: 100%;
	}

	.product-detail .top {
		margin-bottom: 10px;
	}

	.product-detail .carousel-product-detail {
		height: 50px;
	}

	.product-detail .side-inner {
		padding: 10px;
	}

	.tab {
		padding: 15px;
	}

	.tab .container {
		background: var(--white);
		padding: 15px;
	}

	.tabs {
		display: none !important;
	}

	.tab_drawer_heading {
		background-color: #F2F2F2;
		/* border-top: 1px solid #333; */
		margin: 0;
		padding: 10px 20px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.tab_drawer_heading p {
		color: #848484;
	}

	.tab_drawer_heading img {
		height: 23px;
		width: 23px;
		transform: rotate(-90deg);
		/* transition: .4s; */
	}

	.tab_content {
		background-color: #F2F2F2;
	}

	.d_active {
		background-color: #D1D1D1;
		border-radius: 3px;
	}

	.d_active p {
		color: #4F4F4F;
	}

	.d_active img {
		transform: rotate(90deg);
	}

	.product-search .col-sm-12 {
		padding: 0;
	}

	button {
		font-size: 14px;
		padding: 10px 20px !important;
	}

	.sidebar-line-inner {
		border-bottom: 1px solid #ECECEC;
	}

	.mobile-pos {
		background: var(--white);
		box-shadow: 2px 9px 8px -10px #d3d3d35c;
		padding: 20px;
		width: calc(100vw - 10vw);
		margin: 0 auto;
		transform: translateY(-43px);
	}

	.wallp-second {
		height: 130px;
	}

	.section-title h3 {
		font-size: 20px;
	}

	.rounded-pictures {
		margin: 30px 0
	}

	.card-rounded-pic {
		margin-bottom: 20px;
	}

	.position-cards {
		transform: translateX(0);
		padding: 0;
	}

	.position-cards .col-sm-12 {
		padding: 0;
	}

	.contact-box {
		width: 94%;
		min-width: unset;
		position: relative;
		left: unset;
		transform: translateX(0);
		bottom: unset;
		margin: 0 auto;
		min-height: unset;
		padding: 30px;
		margin-bottom: 30px;
	}

	.contact-box .btn-contact {
		justify-content: flex-end;
	}

	.contact-box .btn-contact button {
		width: unset;
	}

	.map-contact {
		padding: 0;
		height: unset;
	}

	.desktop-btn-pgn {
		display: none !important;
	}

	.cdp {
		padding: 7px;
	}

	.cdp a {
		padding: 2px 7px;
		font-size: 13px;
	}

	.footer-logo-line .left-img,
	.footer-logo-line .right-img {
		width: 80%;
	}

	.nav-line .list .list-child {
		left: unset;
		right: 0;
	}

	.login-box {
		flex-direction: column;
	}

	.login-box .left-side {
		display: none;
	}

	.login-box .right-side {
		width: 100% !important;
		background: #1EAAC1;
	}

	.login-box-cont {
		width: 95%;
		padding: 80px 20px;
	}

	.login-box h1 {
		font-size: 26px;
		position: relative;
	}

	.login-box h1::before {
		position: absolute;
		content: '';
		left: 0;
		bottom: 0;
		background: #1EAAC1;
		width: 32%;
		height: 2px;
	}

	.fake-card-line .product-card {
		width: calc(100% / 2);
	}

	.fake-card-line .brand-card:nth-child(2),
	.fake-card-line .brand-card:nth-child(3),
	.fake-card-line .brand-card:nth-child(4), 
	.fake-card-line .product-card:nth-child(3),
	.fake-card-line .product-card:nth-child(4) {
		display: none;
	}

	.fake-card-line{
		justify-content: space-around;
	}

	.fake-card-line .brand-card {
		width: calc(100% / 2);
	}

	.form-group {
		margin-bottom: 15px;
	}

	.owl-carousel .overlay-texts{
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (min-width: 768.9px) {
	.m-v {
		display: none;
	}

	.mobile-btn-pgn {
		display: none !important;
	}

	.center-side-header .logo-customer-m {
		display: none;
	}

	.page-title,
	.featured-boxes button {
		display: none;
	}

	ul.tabs li.active::before {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0px;
		width: 40%;
		height: 4px;
		background: var(--orange);
	}

	ul.tabs li.active {
		transform: scale(1.1);
		color: #000;
		/* border-bottom: 1px solid #fff; */
		display: block;
	}

	.contact-box-ifr {
		display: none;
	}
}

@media (max-width:768.9px) and (min-width:350px) {
	.col-12 {
		grid-column: span 6 !important;
	}

	.row-1 {
		display: grid !important;
		grid-template-columns: repeat(12, 1fr) !important;
		margin-right: -3px;
		margin-left: -3px;
	}
}

@media (max-width:575.98px) {
	.wallp-section h1 {
		font-size: 26px;
	}

	.footer-logo-line .left-img,

	.footer-logo-line .right-img {
		width: 100%;
	}
}

@media (max-width:480.9px) and (min-width:350px) {
	.row-1 .col-12 {
		padding-left: 3px !important;
		padding-right: 3px !important;
	}
}
